.alert {
    text-align: center;
    font-size: 1.1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

.dark-theme {
    .alert {
        color: rgba(255, 255, 255, 0.5);
    }
}
