.card-blog {
    box-shadow: none !important;
    border-radius: 8px !important;
    background-color: #F9FAFB !important;
    position: relative;

    .card-media {
        height: 230px;
    }

    .card-content {

        .card-date {
            color: #637381 !important;
            line-height: 1.5;
            font-size: 0.75rem;
            font-weight: 400;
            font-family: 'Public Sans', sans-serif !important;
        }

        .card-title {
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.5;
            font-family: 'Barlow', sans-serif !important;
            color: #2f363d;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        .card-description {
            color: #637381 !important;
            font-family: 'Public Sans', sans-serif;
            font-weight: 300;
            line-height: 1.5714285714285714;
            font-size: 0.875rem;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }

    .card-actions {
        padding: 0 16px 16px 16px !important;

        display: flex !important;
        gap: 8px;

        .card-author {
            font-size: 0.875rem;
            font-weight: 400;
            font-family: 'Public Sans', sans-serif;
            color: #2f363d;
        }
    }

    .stretched-link::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: "";
    }
}