// @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;500&family=Roboto:wght@100;300;400&display=swap');
.card {
    // border: none;
    background-color: #F2F3F5;

    & .card-image {
        position: relative;

        &.card-img-top {
            border-radius: calc(0.25rem - 1px);
        }

        @media (hover: hover) {
            &:hover {
                cursor: pointer;
            }
        }
    }

    // & .card-body {
    //     & .card-text {
    //         animation: 1000ms ease-in-out 0s 1 normal none running fadeIn;
    //     }
    // }

    &.introduction {
        border: none;
        background-color: #ffffff;

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            @media (max-width: 1199.98px) and (min-width: 992px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 991.98px) and (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 767.98px) and (min-width: 540px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 539.98px) {
                grid-template-columns: 1fr;
            }

            .card-body {
                padding: 0;
                // display: flex;
                // align-items: center;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;

                .card-title {
                    font-size: 3rem;
                    font-weight: 700;
                    line-height: 1;
                }

                .card-subtitle {
                    font-size: 3rem;
                }

                .card-text {
                    font-size: 1.4rem;
                    // color: rgba(255, 255, 255, 0.5);
                    font-weight: 300;
                    margin-bottom: 2.5rem;


                    @media (max-width: 1199.98px) {
                        font-size: 1.1rem;
                    }
                }

                .buton-wrapper {
                    display: flex;
                    gap: 10px;
                }
            }

            .image-wrapper {
                // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                // border: 1px solid darken(#212529, 1%);
                // background-color: lighten(#212529, 1%);
                border-radius: 50%;
                // border: 1px solid rgba(0, 0, 0, .15);
                border: 1px solid rgba(0, 0, 0, .1);

                // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

                img {
                    padding: 5px;
                    border-radius: 50%;
                }
            }
        }
    }

    &.category {
        // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: none;
        background-color: #ffffff;
        // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, .1);
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        border-radius: 15px;

        .card-img-top {
            border-top-left-radius: calc(15px - 1px);
            border-top-right-radius: calc(15px - 1px);
        }

        .card-title {
            font-size: 1.5rem;
            font-weight: 400;
        }

        .card-realization {
            color: #70757a;
        }

        .card-text {
            font-weight: 300;
            font-size: .95rem;
            line-height: 1.43;
            letter-spacing: 0.01071em;
            color: black;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card-footer {
            font-size: .875em;
            // color: #70757a;
            background-color: transparent;
            border-top: 1px solid rgba(0, 0, 0, .1);
        }

        @media (hover: hover) {
            &:hover {
                // transform: scale(1.04);
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                transition: .5s ease;
                cursor: pointer;
                z-index: 2;
            }
        }
    }

    &.favorite-photos {
        border: none;
        margin-left: .5rem;
        margin-right: .5rem;

        .image-wrapper {
            width: 310px;

            .card-img {
                border-radius: 15px;
            }
        }
    }

    &.feedback {
        &.information {
            border: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            margin-bottom: 3rem;

            .image-wrapper {
                @media (max-width: 991.98px) {
                    display: none;
                }
            }

            .text-wrapper {
                display: grid;
                align-content: center;
                gap: 2rem;

                @media (max-width: 539.98px) {
                    text-align: center;
                }

                .heading {
                    font-size: 3rem;
                    font-weight: 700;
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    line-height: 1;

                    @media (max-width: 539.98px) {
                        font-size: 2.5rem;
                    }
                }

                .description {
                    font-size: 2rem;
                    font-weight: 400;
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    line-height: 1;

                    @media (max-width: 539.98px) {
                        font-size: 1.5rem;
                    }
                }
            }

            @media (max-width: 991.98px) {
                grid-template-columns: 1fr;
            }
        }

        &.opinions {
            border-radius: 15px;
            overflow: hidden;
            background-color: #fff;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            text-align: center;

            .card-body {
                text-align: center;

                .profile img {
                    position: relative;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    z-index: 1;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 5px solid #fff;
                    margin-bottom: 1rem;
                }

                .name {
                    font-weight: 500;
                    font-size: 1.1rem;
                }

                .position {
                    font-weight: 400;
                    font-size: 1rem;
                    margin-bottom: .8rem;
                }

                .description {
                    font-weight: 300;
                    font-size: 1rem;
                    line-height: 1.43;
                    letter-spacing: 0.01071em;
                    color: black;
                    display: -webkit-box;
                    -webkit-line-clamp: 7;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: .8rem;
                }

                .rating {
                    display: flex;
                    justify-content: center;
                    margin-bottom: .4rem;
                }
            }
        }
    }

    &.presentation {
        border: none;
        @extend .introduction;

        // .grid {
        //     @media (max-width: 991.98px) {
        //         img:nth-of-type(1) {
        //             order: -1;
        //         }
        //     }
        // }
    }

    &.customer {
        border: none;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &.realization {
        border: none;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;

        &.photo {
            display: inline-block !important;
            margin-bottom: .5rem;
        }

        &.video {
            background-color: transparent;

            .thumbnail {
                .img-box {
                    position: relative;

                    .card-img-top {
                        border-radius: calc(0.25rem - 1px);
                    }

                    .card-video-time {
                        position: absolute;
                        right: .5rem;
                        bottom: .5rem;
                    }
                }

                .card-body {
                    padding: .7rem .7rem .7rem 0;
                    animation: 1000ms ease-in-out 0s 1 normal none running fadeIn;

                    .card-title {
                        font-weight: 500;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-bottom: 0.2rem
                    }

                    .card-meta {
                        .company {
                            &:not(:last-of-type):after {
                                content: "•";
                                margin: 0 4px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.contact {
        border: none;

        .card-header {
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-size: 1.5rem;
            background-color: transparent;
            border-bottom: none;
            display: flex;
            align-items: center;
            padding-left: 0;
            padding-bottom: 1rem;
        }

        .card-body {
            padding: 0;
            padding-top: 1rem;

            &.business {
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 300;

                .title {
                    font-weight: 500;
                }
            }
        }

        .card-footer {
            font-size: .875em;
            background-color: transparent;
            border-top: 1px solid rgba(0, 0, 0, .1);
        }
    }
}

.dark-theme {
    .card {
        background-color: #212529;

        &.introduction {
            .card-body {
                .card-title {
                    color: rgba(255, 255, 255, 0.7);
                }

                .card-text {
                    color: rgba(255, 255, 255, 0.5);
                }
            }

            .image-wrapper {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border: 1px solid darken(#212529, 1%);
                background-color: lighten(#212529, 1%);
            }
        }

        &.category {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            // border: 1px solid darken(#212529, 1%);
            background-color: lighten(#212529, 1%);

            .card-text {
                color: rgba(255, 255, 255, 0.5);
            }

        }

        &.feedback {
            &.opinions {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                background-color: lighten(#212529, 1%);

                .card-body {
                    .profile img {
                        border: 7px solid lighten(#212529, 1%);
                    }

                    .description {
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }

        }

        &.realization {
            &.video {
                // background-color: #303134;
                // background-color: #212529;
            }
        }

        &.contact {
            // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            // border: 1px solid darken(#212529, 1%);
            // background-color: lighten(#212529, 1%);


        }
    }
}
