.card {
    border: none;

    & .card-image {
        position: relative;

        &.card-img-top {
            border-radius: calc(0.25rem - 1px);
        }

        @media (hover: hover) {
            &:hover {
                cursor: pointer;
            }
        }
    }

    // & .card-body {
    //     & .card-text {
    //         animation: 1000ms ease-in-out 0s 1 normal none running fadeIn;
    //     }
    // }

    &.category {
        background-position: center;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        display: inline-block !important;

        & img {
            transition: all linear 0.25s;
            width: 100%;
        }

        & .card-title-wrapper {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4rem;
            // height: 100%;
            width: 100%;
            // background-color: #171717;
            // background-color: #000;
            // opacity: 0.5;
            // transition: height .25s, transform .25s;
            // transition: all linear 0.25s;
            background: linear-gradient(to bottom,rgba(0,0,0,.0001) 0,rgba(0,0,0,.8) 100%);
        }

        & .card-title {
            position: absolute;

            text-align: center;
            width: 100%;
            bottom: 1rem;
            // color: #FFF;
            transition: all linear 0.25s;
            font-weight: 400;
            margin-bottom: 0;

            h3 {
                color: #fff;
                text-shadow: #000 0px 0px 2px;

                margin-bottom: 0;
                font-weight: 400;
                transition: all linear 0.25s;
                animation: .25s ease-in-out .25s 1 normal none running fadeIn;

            }
        }

        @media (hover: hover) {
            &:hover {
                & img {
                    filter: grayscale(100%);
                }

                // & .card-title {
                //     bottom: 1.5rem;
                // }
            }
        }
    }

    &.introduction {
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            @media (max-width: 1199.98px) {
                grid-template-columns: 1fr;
            }

            // @media (min-width: 1199.98px) {
            //     height: 640px;
            // }

            .card-body {
                padding: 0;
                display: flex;
                align-items: center;

                & p.card-text {
                    font-size: 1.5rem;

                    @media (max-width: 1199.98px) {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }

    &.presentation {
        @extend .introduction;

        // .grid {
        //     @media (max-width: 991.98px) {
        //         img:nth-of-type(1) {
        //             order: -1;
        //         }
        //     }
        // }
    }

    &.realization {
        &.photo {
            display: inline-block !important;
            margin-bottom: .5rem;
        }

        &.video {
            background-color: transparent;

            .thumbnail {
                .img-box {
                    position: relative;

                    .card-img-top {
                        border-radius: calc(0.25rem - 1px);
                    }
                    .card-video-time {
                        position: absolute;
                        right: .5rem;
                        bottom: .5rem;
                    }
                }
                .card-body {
                    padding: 1rem 1rem 1rem 0;

                    .card-title {
                        font-weight: 400;
                    }

                    .card-meta {
                        .company {
                            &:not(:last-of-type):after {
                                content: "•";
                                margin: 0 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dark-theme {
    .card {
        background-color: #212529;

        &.category {
            background-color: #212529;
        }

        &.realization {
            &.video {
                // background-color: #303134;
                // background-color: #212529;
            }
        }
    }
}
