.card {
    border: none;

    & .card-image {
        position: relative;

        &.card-img-top {
            border-radius: calc(0.25rem - 1px);
        }

        @media (hover: hover) {
            &:hover {
                cursor: pointer;
            }
        }
    }

    // & .card-body {
    //     & .card-text {
    //         animation: 1000ms ease-in-out 0s 1 normal none running fadeIn;
    //     }
    // }

    &.category {
        background-color: #FFF;
        background-position: center;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        display: inline-block !important;

        & img {
            transition: all linear 0.25s;
            width: 100%;
        }

        & .card-title {
            position: absolute;
            left: 1rem;
            bottom: 1rem;
            color: #FFF;
            transition: all linear 0.25s;
            font-weight: 400;
            margin-bottom: 0;

            h3 {
                margin-bottom: 0;
                font-weight: 400;
                animation: 1s ease-in-out 0s 1 normal none running fadeIn;
            }
        }

        @media (hover: hover) {
            &:hover {
                & img {
                    filter: grayscale(100%);
                }

                & .card-title {
                    bottom: 1.5rem;
                }
            }
        }
    }

    &.introduction {
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            @media (max-width: 1199.98px) {
                grid-template-columns: 1fr;
            }

            // @media (min-width: 1199.98px) {
            //     height: 640px;
            // }

            .card-body {
                padding: 0;
                display: flex;
                align-items: center;

                & p.card-text {
                    font-size: 1.7rem;

                    @media (max-width: 1199.98px) {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    &.presentation {
        @extend .introduction;

        // .grid {
        //     @media (max-width: 991.98px) {
        //         img:nth-of-type(1) {
        //             order: -1;
        //         }
        //     }
        // }
    }

    &.realization {
        &.photo {
            display: inline-block !important;
            margin-bottom: 1rem;
        }

        &.video {
            background-color: #f8f9fa;
        }
    }
}

.dark-theme {
    .card {
        background-color: #212529;

        &.category {
            background-color: #212529;
        }

        &.realization {
            &.video {
                background-color: #303134;
            }
        }
    }
}
