.heading-view {
    margin: 0 !important;
    text-align: left !important;
    // color: rgba(0, 0, 0, 0.7) !important;
    // color: #24292f;
    color: #2f363d;
    font-size: 30px !important;
    // line-height: 1.208em !important;
    letter-spacing: .045em !important;
    // padding-bottom: 1.5rem;

    // @media (max-width: 991.98px) {
    //     font-size: 24px !important;
    // }

    font-family: 'Barlow', sans-serif !important;
    font-weight: 500 !important;
    // text-transform: uppercase !important;
    font-size: 35px !important;
    line-height: 35px !important;
}
