.heading-view {
    margin: 0 !important;
    text-align: left !important;
    color: #2f363d;
    // color: #070707;
    letter-spacing: .045em !important;
    // font-family: 'Barlow', sans-serif !important;
    font-family: 'Arial', sans-serif !important;
    font-weight: 500 !important;
    font-size: 27px !important;
    line-height: 27px !important;
}

.heading-section {
    margin: 0 !important;
    text-align: left !important;
    color: #2f363d;
    letter-spacing: .045em !important;
    // font-family: 'Barlow', sans-serif !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    font-size: 30px !important;
    line-height: 30px !important;


    font-weight: 600 !important;
    font-size: 2rem !important;
}
