.image {
    .description {
        padding-top: .75rem;

        .source {
            color: #637381;
            font-size: .85rem;
            // font-family: "Public Sans", sans-serif;
            font-family: 'Roboto Flex', sans-serif;
            font-weight: 300;

            .dot-divider {
                padding: 0 4px;
            }

            .author {
                &.link {
                    font-family: 'Roboto Flex', sans-serif;
                    font-weight: 300;
                    text-decoration: none;
                    font-size: .85rem;
                    color: #637381;

                    &:hover {
                        color: #384049;
                    }
                }
            }
        }
    }
}
