.form-label {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    margin-bottom: 0.3rem;

}

.form-control {
    border-radius: 8px;
    

    &:focus {
        box-shadow: none;
    }
}

textarea {
    resize:none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.dark-theme {
    .form-control {
        background-color: rgba(255, 255, 255, 0.75);
        border-color: rgba(255, 255, 255, 0.07);
        border-color: #3c4043;
        // border-radius: 2px;

        &:focus {
            color: #212529;
            background-color: rgba(255, 255, 255, 0.75);
            border-color: rgba(255, 255, 255, 0.07);
            box-shadow: none;
        }
    }
}
