.modal-content {
    border-radius: 8px;

    .modal-header {
        border-bottom: none;

        .modal-title {
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
}

.feedback-modal {
    .rating span {
        margin-top: -10px;
    }

    .button-wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}

.dark-theme {
    .modal-content {
        background-color: #212529;
        border: 1px solid #212529;

        .modal-header {
            button.btn-close {
                background: transparent url("../../assets/feedback/close.svg") center/1em auto no-repeat;
            }
        }
    }
}