@mixin bd-bg-overlay($color, $opacity) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 0;
    background: none repeat $color;
    opacity: $opacity;
}

@mixin bd-relative-zindex {
    position: relative;
    z-index: 999;
}

.photo-banner {
    margin: 0;
    background: url('../../assets/backstage/backstagePhoto.jpg') fixed 0 0;
    background-size: cover;

    .photo-banner-inner {
        position: relative;
        z-index: 0;

        &:after {
            // @include bd-bg-overlay(#222222, .7);
            @include bd-bg-overlay(#000, .5);
            // filter: brightness(50%);
        }

        .container {
            text-align: center;
            position: relative;
            z-index: 1;
            padding: 250px 0;
        }
    }
}
