.scrollup {
    button.btn {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        right: .75rem;
        bottom: .75rem;
        width: 45px;
        height: 45px;
        padding: 2px;
        background-color: #171717;
        border: none;
        z-index: 1000;
        cursor: pointer;
        opacity: 0.4;
        border-radius: 2px;

        &:focus {
            outline: none;
            box-shadow: none;
        }

        i {
            font-size: 22px;
        }
    }
}
