html, body, #root, .app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #F2F3F5;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    flex: 1 1;
}

.view-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.section-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    &.footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        padding: 3rem 0;
        margin-bottom: 0;
        margin-top: 0;

        @media (max-width: 1199.98px) and (min-width: 992px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 991.98px) {
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
}

.card-wrapper {
    &.category {
        display: grid;
        gap: 1rem;
        margin-bottom: 1rem;

        &.video {
            grid-template-columns: 1fr 1fr 1fr;

            @media (max-width: 1199.98px) and (min-width: 992px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 991.98px) and (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 767.98px) and (min-width: 540px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 539.98px) {
                grid-template-columns: 1fr;
            }
        }

        &.photo {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            @media (max-width: 1199.98px) and (min-width: 992px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 991.98px) and (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 767.98px) and (min-width: 540px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 539.98px) {
                grid-template-columns: 1fr;
            }
        }
    }

    &.favorite-photos {
        .marquee {
            // gap: 1rem;
        }
    }

    &.recommendation {
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        row-gap: 2rem;

        @media (max-width: 1199.98px) {
            grid-template-columns: 1fr;
        }
    }

    &.customer {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;

        @media (max-width: 1199.98px) and (min-width: 992px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media (max-width: 991.98px) and (min-width: 768px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (max-width: 767.98px) and (min-width: 540px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 539.98px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &.realization {
        &.photo {
            column-count: 4;
            column-gap: .5rem;
            orphans: 1;
            widows: 1;

            @media (max-width: 1199.98px) and (min-width: 992px) {
                column-count: 3;
            }

            @media (max-width: 991.98px) {
                column-count: 2;
            }
        }

        &.video {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1rem;

            @media (max-width: 1199.98px) and (min-width: 992px) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            @media (max-width: 991.98px) {
                grid-template-columns: 1fr;
            }
        }
    }

    &.contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        @media (max-width: 991.98px) {
            grid-template-columns: 1fr;
        }
    }
}

body.dark-theme {
    background-color: #212529;
    color: rgba(255, 255, 255, 0.75);
}
