.favorite-photos-section {
    .section-wrapper {
        padding-top: 0;

        .marquee {
            z-index: 0;
        }
    }

    @media (max-width: 991.98px) {
        display: none;
    }
}

.dark-theme {
    .introduction-section {
        background-color: #212529;
        border-top: none;
        border-bottom: none;
    }
}
