.favorite-photos-section {
    .section-wrapper {
        padding-top: 1rem;

        .marquee {
            z-index: 0;
        }
    }
}

.dark-theme {
    .introduction-section {
        background-color: #212529;
        border-top: none;
        border-bottom: none;
    }
}
