footer {
    // background-color: #f8f9fa;
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, .1);

    .section-wrapper {
        &.footer {
            color: rgba(0,0,0,.5);

            .footer-subheader {
                color: rgba(0,0,0,.7);
                margin-bottom: 1rem;
            }

            // .contact {
            //     .company-name {
            //         text-transform: uppercase;
            //     }
            // }

            .video,
            .foto {
                .list-group-flush {
                    margin-bottom: 0;
                    padding-left: 0;

                    .list-group-item {
                        padding: 0.5rem 0;
                        // background-color: #f8f9fa;
                        background-color: #ffffff;

                        a {
                            text-decoration: none;
                            color: rgba(0,0,0,.5);

                            &:hover {
                                color: rgba(0,0,0,.7);
                            }
                        }

                        &:first-child {
                            padding-top: 0;
                        }

                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }

            .media {
                .media-wrapper {
                    display: flex;
                    align-items: center;
                    gap: .8rem;

                    svg {
                        filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(327deg) brightness(114%) contrast(114%);
                        opacity: 0.5;
                        user-select: none;

                        &:hover {
                            opacity: 0.7;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        &.info {
            text-align: center;
            margin: 0;
            padding: .7rem 0;
            background-color: #fff;
            border-top: 1px solid rgba(0, 0, 0, .1);

            .copyright {
                color: rgba(0,0,0,.55);
                font-size: .7rem;

                .company-name {
                    text-transform: uppercase;
                }
            }
        }
    }
}

.dark-theme {
    footer {
        background-color: #171717;

        .section-wrapper {
            &.footer {
                color: rgba(255,255,255,.3);

                .footer-subheader {
                    color: rgba(255,255,255,.5);
                }

                .video,
                .foto {
                    .list-group-flush {
                        .list-group-item {
                            background-color: #171717;
                            border-bottom: 1px solid rgba(255, 255, 255, .07);

                            a {
                                color: rgba(255,255,255,.3);


                                &:hover {
                                    color: rgba(255,255,255,.5);
                                }
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }

                .media {
                    .media-wrapper {
                        svg {
                            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
                            opacity: .3;

                            &:hover {
                                opacity: .5;
                            }
                        }
                    }
                }
            }

            &.info {
                background-color: #212529;

                .copyright {
                    color: rgba(255,255,255,.5);
                }
            }
        }
    }
}
