.introduction-section {
    background-color: white;
    // border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dark-theme {
    .introduction-section {
        background-color: #212529;
        border-top: none;
        border-bottom: none;
    }
}
