.view-wrapper {
    // .view-header {

    // }

    .view-body {
        .body-wrapper {
            &.blog {
                display: grid;
                gap: 3rem;
                grid-template-columns: repeat(3, 1fr);
                // align-content: start;
                // overflow: hidden;

                @media (max-width: 991.98px) {
                    grid-template-columns: 1fr;
                }

                .articles-wrapper {
                    grid-column: span 2;

                    display: grid;
                    gap: 3rem;

                    .card-wrapper {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 1.5rem;
                        align-content: start;
                    }

                    .pagination-wrapper {
                        display: flex;
                        // align-items: center;
                        justify-content: center;
                    }


                    // @media (max-width: 1199.98px) and (min-width: 992px) {
                    //     grid-template-columns: 1fr 1fr 1fr;
                    // }
        
                    // @media (max-width: 991.98px) and (min-width: 768px) {
                    //     grid-template-columns: 1fr 1fr;
                    // }
        
                    // @media (max-width: 767.98px) and (min-width: 540px) {
                    //     grid-template-columns: 1fr 1fr;
                    // }
        
                    // @media (max-width: 539.98px) {
                    //     grid-template-columns: 1fr;
                    // }

              

                    // @media (max-width: 991.98px) {
                    //     grid-column: span 3;
                    // }

                }

                .proposed-wrapper {
                    grid-column: span 1;
                    
                    align-content: start;
                    display: grid;
                    gap: 3rem;
                   

                    .title {
                        font-size: 1.25rem;
                        font-weight: 600;
                        line-height: 1.5;
                        font-family: 'Barlow', sans-serif !important;
                        color: #2f363d;
                        margin: 0;
                        margin-bottom: 1.5rem;
                    }

                    .search-wrapper {
                        .input-blog-search {
                            background-color: #f6f8fa;
                            // background-color: rgba(145, 158, 171, 0.08);
                            box-shadow: none;
                            border-radius: 8px;

                            display: flex;

                            // margin-bottom: 1.5rem;

                            .icon-box {
                                display: flex;
                                align-items: center;
                                &.search {
                                    border-radius: 8px 0 0 8px;
                                    padding: .75rem;

                                    .serach-icon {
                                        color: rgb(145, 158, 171) !important;
                                    }
                                }

                                &.clear {
                                    border-radius: 0 8px 8px 0;
                                    padding: .75rem;

                                    .clear-icon {
                                        color: rgb(145, 158, 171) !important;
                                        cursor: pointer;
                                    }
                                }
                            }

                            .input-base {
                                font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
                                // font-family: 'Public Sans', sans-serif !important;
                                // color: rgb(145, 158, 171) !important;
                                color: #2f363d;
                                // font-weight: 400;
                                flex-grow: 1;

                                input {
                                    padding: .75rem 0 .75rem 0;
                                }

                                ::-webkit-input-placeholder {
                                    color: rgb(145, 158, 171);
                                    opacity: 1;
                                }

                                :-moz-placeholder {
                                    color: rgb(145, 158, 171);
                                    opacity: 1;
                                }
    
                                :-ms-input-placeholder {
                                    color: rgb(145, 158, 171);
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .categories-wrapper {
                        .list-wrapper {
                            display: grid;
                            gap: .75rem;

                            .list-item {
                                display: flex;
                                align-items: center;

                                .list-a {
                                    width: 6px;
                                    height: 6px;
                                    margin-right: 16px;
                                    background-color: #2f363d;
                                    border-radius: 50%;
                                }

                                .list-b {
                                    color: #2f363d;
                                    line-height: 1.5714285714285714;
                                    font-size: 0.875rem;
                                    font-weight: 500;
                                    font-family: 'Public Sans', sans-serif !important;
                                }
                            }
                        }
                    }

                    .recent-wrapper {
                        .card-wrapper {
                            display: grid;
                            gap: .75rem;
                        }
                    }

                    .tags-wrapper {
                        .chip-wrapper {
                            display: flex;
                            gap: .75rem;
                            flex-wrap: wrap;

                            .tag {
                                border-radius: 8px;
                                background-color: #f0f3f6;
                                // background-color: #f6f8fa;
                                color: #2f363d;

                                transition: color 0.15s ease, background-color 0.15s ease;

                                box-shadow: none;

                                span span {
                                    background-color: transparent;
                                }

                                &.selected {
                                    background-color: #2f363d;
                                    color: #fff;
                                }

                                &:not(.selected):hover {
                                    background-color: #e6ebf1;
                                }
                            }
                        }

                    }


                  

                    // @media (max-width: 991.98px) {
                    //     grid-column: 100%;
                    // }
                }
            }
        }
    }
}
