.view-wrapper {
    // .view-header {

    // }

    .view-body {
        .body-wrapper {
            &.blog-article {
                display: grid;
                gap: 3rem;
                grid-template-columns: repeat(3, 1fr);

                @media (max-width: 991.98px) {
                    grid-template-columns: 1fr;
                }

                .article-wrapper {
                    grid-column: span 2;

                    .header {
                        font-size: 1.5rem;
                        margin-top: 0px;
                        margin-bottom: 16px;
                        font-weight: 500;
                        line-height: 1.5;
                    }

                    .paragraph {
                        margin-bottom: 16px;
                        // color: #212B36;
                        color: #333b43;
                        color: #384049;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    .box {
                        margin-bottom: 32px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                }

                .proposed-wrapper {
                    grid-column: span 1;

                    align-content: start;
                    display: grid;
                    gap: 3rem;

                    .title {
                        font-size: 1.25rem;
                        font-weight: 600;
                        line-height: 1.5;
                        font-family: 'Barlow', sans-serif !important;
                        color: #2f363d;
                        margin: 0;
                        margin-bottom: 1.5rem;
                    }

                    .writer-wrapper {
                        .avatar-wrapper {
                            display: flex;
                            align-items: center;
                            gap: .75rem;

                            .description {
                                display: grid;

                                .writer {
                                    font-weight: 600;
                                    line-height: 1.57143;
                                    font-size: 0.875rem;
                                    font-family: 'Public Sans', sans-serif;
                                    color: #2f363d;

                                    font-size: 0.875rem;
                                    font-weight: 600;
                                    // line-height: 1.5;
                                    line-height: 1.5714285714285714;
                                    // font-family: 'Barlow', sans-serif !important;
                                    color: #2f363d;
                                    
                                }

                                .date {
                                    color: #637381 !important;
                                    line-height: 1.5;
                                    font-size: 0.75rem;
                                    font-weight: 400;
                                    font-family: 'Public Sans', sans-serif !important;
                                }
                            }
                        }
                    }

                    .recent-wrapper {
                        .card-wrapper {
                            display: grid;
                            gap: .75rem;
                        }
                    }

                }
            }
        }
    }
}
