.services-view {
    .view-wrapper {

        .view-body {
            .body-wrapper {
                .card-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 32px
                }
            }

        }
    }
}
